.effect {
  position: relative;
  margin-bottom: 3vh;
}

.remove {
  user-select: none;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  position: absolute;
  height: 23px;
  width: 23px;
  top: 0;
  right: 0;
  border: 0;
  background: #222;
  border: 1px solid whitesmoke;
  border-bottom: none;
  border-radius: 0 7px 0 0;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  outline: 0;
  padding: 0;
  font-size: 10pt;
  cursor: pointer;
  z-index: 1;
}


.remove:active {
  background: red;
}