.filter {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    border: 1px solid whitesmoke;
    overflow: hidden;
    transition: ease all 0.1s;
    margin-bottom: 3vh;
    padding-top: 25px;
    background: #222;
    box-shadow: 0 0 20px;
}

.filter input[type=range] {
    -webkit-appearance: none;
    width: 280px;
    background: transparent;
    height: 100px;
    transform: translateX(-100px);
    cursor: ew-resize;
    margin: 0;
}

.filter input[type=range]:focus {
    outline: none;
}

.filter input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 80px;
    font-size: 96pt;
    width: 170px;
    background: linear-gradient(to top right, red, blue);
    border-radius: 0 75px 0 0;
    transform: translateX(-60px);
    z-index: -1;
}
