.sequencer {
  background: whitesmoke;
  border-radius: 7px;
  border: 10px solid #444;
  box-shadow: 0 0 40px, 0 0 10px inset;
  position: relative;
  display: grid;
  place-items: center;
}

.sequencer .buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #C0BCB5;
  width: 40px;
  height: 40px;
  place-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all ease 0.2s;
  border-radius: 3px;
  scale: 1;
}

.sequencer .buttons:hover {
  scale: 4;
  bottom: 65px;
  right: 65px;
  transition: all ease 0.3s;
  box-shadow: 0 0 40px;
}

.sequencer .buttons:hover .colour-indicator {
    border: 1px solid black;
}

.sequencer .button {
  width: 6px;
  height: 6px;
  border-radius: 0.5px;
  background: whitesmoke;
  cursor: pointer;
  box-shadow: 0 0 0.2px 0.2px #444, 0 0 3px inset white;
  position: relative;
}

.sequencer .colour-indicator {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 1px;
    left: 1px;
    /* border-radius: 50%; */
}

.sequencer .button.selected {
    background: #ED474A;
}

.sequencer .text-value-control{
    position: absolute;
    top: 20px;
    font-size: 16pt;
}

.sequencer .text-value-control:hover {
    font-weight: bold;
}

.sequencer .text-value-control:first-of-type {
    left: 20px;
}

.sequencer .text-value-control:nth-of-type(2) {
    right: 20px;
}

.sequencer .clear-all {
    left: 10px;
    position: absolute;
    font-size: 16pt;
    bottom: 10px;
    background: transparent;
    border: 0;
    font-family: monospace;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
}

.sequencer .clear-all:hover {
    scale: 1.1;
}

.sequencer .lock {
    position: absolute;
    bottom: 23px;
    left: 50px;
}