.effect-drag-handle {
  position: absolute;
  top: 0;
  left: 23px;
  width: calc(100% - 22px - 23px);
  height: 23px;
  background: #222;
  display: inline-block;
  border-top: 1px solid whitesmoke;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: move;
  z-index: 1;
}

.effect-drag-handle > span {
  user-select: none;
}

.being-dragged {
    z-index: 5;
}