.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1000;
}

.picker {
    user-select: none;
    position: absolute;
    left: 100px;
    top: 100px;
    background: whitesmoke;
    border-radius: 7px;
    width: 200px;
    max-height: 400px;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 5px solid lightgrey;
}

.item {
    background: white;
    padding: 15px 20px;
    cursor: pointer;
    transition: background ease 0.2s;
}

.item:hover {
    background: lightgrey;
    transition: background ease 0.2s;
}

h2 {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    display: block;
}