.components-wrapper {
    max-height: 70vh;
    overflow-y: auto;
}

.sortable-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.components {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.components * {
    flex-shrink: 0;
}

.add-buttons {
    position: absolute;
    bottom: 3vh;
    left: 3vh;
    display: flex;
    place-content: center;
}

.add-buttons button {
    border: 1px solid white;
    border-radius: 1vh;
    outline: 0;
    background: transparent;
    color: whitesmoke;
    margin-right: 3vh;
}

.add-buttons button:active {
    border: 1px solid white;
    border-radius: 1vh;
    outline: 0;
    color: #333;
    background: whitesmoke;
}

.rack {
    border: 2px dashed #eee;
    margin: 3vh;
    max-width: 400px;
    min-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: 20px;
}

.rack .add-source {
    width: 80%;
    margin: 0 auto;
    height: 140px;
    border-radius: 7px;
    border: 3px solid whitesmoke;
    position: relative;
    cursor: pointer;
}

.rack .add-source:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: '+';
    font-size: 48pt;
    color: whitesmoke;
}

.rack .add-effect {
    box-sizing: border-box;
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 7px;
    border: 3px solid whitesmoke;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 10px;
}

.rack .add-effect:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: '+';
    font-size: 32pt;
    color: whitesmoke;
}