.pan {
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin-bottom: 3vh;
}

.pan input {
    width: 80px;
    outline: 0;
}