.distortion {
  width: 100px;
  height: 100px;
  border-radius: 7px;
  background: radial-gradient(#FE5D26, #AF0200);
  box-shadow: 0 0 40px;
  display: grid;
}

.distortion canvas {
  border-radius: 7px;
  background: none;
}

.distortion .knob {
    position: absolute;
    left: 25px;
    top: calc(23px + 15px);
    width: 50px;
    height: 50px;
}

.distortion .knob-inner {
    background: radial-gradient(whitesmoke, #f7bbbb);
}

.distortion .value {
    background: #AF0200;
}

.distortion .value.top:after {
    border-top-color: #AF0200 !important;
}

.distortion .value.bottom:after {
    border-bottom-color: #AF0200 !important;
}