.knob-inner {
    background: whitesmoke;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px;
    cursor: pointer;
    position: relative;
}

.knob {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline;
}

.notch {
  position: absolute;
  left: calc(50% - 1px);
  background: #333;
  width: 2px;
  height: 25px;
}


.value {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: #00aabb;
  border-radius: .4em;
  text-align: center;
  font-family: monospace;
  font-size: 16pt;
  line-height: 1;
  width: 100px;
  height: 50px;
  padding: 15px;
  user-select: none;
  color: whitesmoke;
  z-index: 1000;
  box-shadow: 0 0 20px #333;
}


.value.top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.value.bottom:after {
  content: '';
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #00aabb;
}