.mpc {
  background: #4A6C6F;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  box-shadow: 0 0 40px black;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  direction: rtl;
  margin: 3vh 3vh 6vh;
  position: relative;
  padding: 15px;
}


.pad {
  background: #C0BCB5;
  direction: ltr;
  align-self: center;
  justify-self: center;
  width: 70%;
  height: 70%;;
  border-radius: 4px;
  box-shadow: 0 0 10px 3px #444, 0 0 20px inset white;
  border: none;
  outline: 0;
  cursor: pointer;
}


.pad:active {
    background: #ED474A;
}

.pad.lit {
    background: #ED474A;
}

.hold-toggle {
  position: absolute;
  left: calc(50% - 45px);
  bottom: -15px;
  min-height: 20px;
  padding: 5px;
  width: 90px;
  font-size: 10pt;
  cursor: pointer;
  font-family: monospace;
  user-select: none;
  background: #4A6C6F;
  border-radius: 0 0 7px 7px;
  text-align: center;
  direction: ltr;
  font-weight: bold;
}

.hold-toggle:hover {
  transform: scale(1.02);
}

.hold-toggle.held {
  color: darkgoldenrod;
}
