* {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  background: #222;
  /* border: 2px solid; */
  height: 100vh;
  overflow-x: scroll;
  width: 100vw;
  border-image: linear-gradient(
          45deg,
          rgba(131, 58, 180, 1) 0%,
          rgba(253, 29, 29, 1) 50%,
          rgba(252, 176, 69, 1) 100%
  ) 1 100;
}


button {
  user-select: none;
  font-size: 12pt;
  font-family: "Helvetica Neue", sans-serif;
  padding: 10px;
}


.add-rack {
  border: 1px solid white;
  border-radius: 1vh;
  outline: 0;
  background: transparent;
  color: whitesmoke;
  position: absolute;
  bottom: 3vh;
  left: 3vh;
}

.add-rack:active {
  color: #333;
  background: whitesmoke;
}

.app {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.play-all {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  width: 16vh;
  border: 1px solid whitesmoke;
  background: transparent;
  border-radius: 5px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 0;
  padding: 1.5vh;
}

.play-all:active {
  background: whitesmoke;
  color: #333;
}

.pause-all {
  position: absolute;
  right: 21vh;
  bottom: 3vh;
  width: 16vh;
  border: 1px solid whitesmoke;
  background: transparent;
  border-radius: 5px;
  color: whitesmoke;
  display: grid;
  flex-direction: column;
  align-items: center;
  outline: 0;
  padding: 1.5vh;
}

.pause-all:active {
  background: whitesmoke;
  color: #333;
}