* {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  background: #222;
  /* border: 2px solid; */
  height: 100vh;
  overflow-x: scroll;
  width: 100vw;
  border-image: linear-gradient(
          45deg,
          rgba(131, 58, 180, 1) 0%,
          rgba(253, 29, 29, 1) 50%,
          rgba(252, 176, 69, 1) 100%
  ) 1 100;
}


button {
  user-select: none;
  font-size: 12pt;
  font-family: "Helvetica Neue", sans-serif;
  padding: 10px;
}

.add-rack {
    border-width: 2px;
    border-style: solid;
    background: none;
    outline: 0;
    border-radius: 7px;
    border-image-slice: 1;
    margin: 3vh;
    position: relative;
    height: 20vh;
    min-width: 20vh;
    margin: 45vh 0;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    font-family: monospace;
    font-size: 20pt;
    text-align: center;
    border-color: #888;
    color: #888;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
    transition: border-color ease 0.1s,
                color ease 0.1s;
}

.add-rack.center {
    margin-top: 45vh;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.add-rack:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    transition: border-color ease 0.1s,
                color ease 0.1s;
}

.add-rack p {
    padding: 0;
    margin: 0;
}

.add-rack .plus {
    font-size: 28pt;
    margin-bottom: -4px;
    font-weight: bold;
}

.app {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.open-global-effects-rack {
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: monospace;
    border: 1px solid #666;
    color: #666;
    border-bottom: none;
    border-right: none;
    background: none;
    padding: 13px;
    height: 40px;
    border-radius: 7px 0 0 0;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    transition: all ease 0.1s;
}

.open-global-effects-rack:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    transition: all ease 0.1s;
}

.open-global-effects-rack:active {
    background: #666;
    color: whitesmoke;
}

.global-effects-rack {
    display: grid;
    align-items: center;
    justify-items: left;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}


.global-effects-rack .effects-rack {
    background: #333;
    height: 280px;
    z-index: 1001;
    width: calc(91vw - 200px);
    border-radius: 7px;
    margin-left: 6vh;
    user-select: none;
    overflow-y: visible;
    box-sizing: border-box;
    border: 5px solid lightgrey;
    font-family: monospace;
}


.global-effects-rack .add-effect {
    box-sizing: border-box;
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 7px;
    border: 3px solid whitesmoke;
    position: relative;
    cursor: pointer;
    margin: 10px;
    filter: opacity(20%);
    transition: all ease 0.15s;
}

.effect.being-dragged {
    z-index: 9999 !important;
    /* margin-top: 3vh;
    margin-left: 3vh; */
}

.global-effects-rack .add-effect:hover {
    filter: opacity(100%);
    transition: all ease 0.15s;
}


.global-effects-rack .add-effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: monospace;
}

.global-effects-rack .add-effect-plus {
    font-size: 24pt;
    font-weight: bold;
}

.global-effects-rack .add-effect {
    font-size: 14pt;
    user-select: none;
}

.global-effects-rack .add-effect-title {
    margin-left: 4px;
}

.global-effects-rack .add-effect:hover .add-effect-title {
    filter: opacity(1);
}

.global-effects-rack .picker {
    position: absolute;
    right: 6vh;
    top: 50%;
    transform: translateY(-50%);
}

.global-effects-rack .sortable-container {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    align-content: center;
    height: 100%;
}

.global-effects-rack .sortable-container .effect {
    margin: 20px;
}


.play-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.play-controls button {
    width: calc(220px / 5);
    border-right: 0;
    outline: 0;
    border: 0;
    border-left: 1px solid lightgrey;
    height: 40px;
    cursor: pointer;
}

.play-controls button:active {
    background: lightgrey;
}

.play-controls button:last-of-type {
    border-radius: 0 7px 0 0;
}

.play-controls button:first-of-type {
    border-radius: 7px 0 0 0;
}

.play-controls button:last-of-type:active {
    color: whitesmoke;
    background: #e22;
}

.play-controls button:last-of-type.recording {
    color: whitesmoke;
    background: #e22;
}

.midi-learn {
    background: none;
    border: 1px solid #333;
    border-bottom: none;
    border-left: none;
    color: #333;
    font-family: monospace;
    font-size: 9pt;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    user-select: none;
}

.midi-learn.learning {
    border-color: yellow;
    color: yellow;
}