.ambience {
  width: 300px;
  height: 200px;
  background: #444;
  border-radius: 7px;
  box-shadow: 0 0 40px;
  display: grid;
  place-items: center;
  position: relative;
  user-select: none;
  margin: 3vh;
}

.ambience img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 4px;
  z-index: 1;
}


.ambience .button {
  border-radius: 50%;
  background: #444;
  width: 30px;
  height: 30px;
  z-index: 2;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 15px);
  padding: 0;
  font-family: monospace;
  cursor: pointer;
  color: whitesmoke;
  border: 2px solid #444;
}

.ambience .button:hover {
    transition: all ease 0.3s;
    background: none;
    border: 2px solid #444;
}

.ambience .button.left {
  left: 6%;
}

.ambience .button.right {
  right: 6%;
}

.ambience img.blurred-image {
  filter: saturate(70%);
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 4px;
  z-index: 1;
}