.text-value-control {
  user-select: none;
  cursor: ns-resize;
  font-family: monospace;
  font-size: 24pt;
  color: #222;
}

.text-value-control .label {
    font-size: 12pt;
    margin-left: 3px;
}