* {
  box-sizing: border-box;
}

body {
  background: #333;
  border: 5px solid;
  height: 100vh;
  border-image:
          linear-gradient(
                  45deg,
                  rgba(131,58,180,1) 0%,
                  rgba(253,29,29,1) 50%,
                  rgba(252,176,69,1) 100%
          ) 1 100;
  padding-top: 10vh;
  padding-bottom: 10vh;
}


button {
  user-select: none;
  font-size: 12pt;
  font-family: "Helvetica Neue", sans-serif;
  padding: 10px;
}

.components-wrapper {
  max-height: 70vh;
  overflow-y: auto;
}

.components {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-buttons {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  place-content: center;
  margin: 0 0 5vh;
}

.add-buttons button {
  margin: 1vh;
  border: 1px solid white;
  border-radius: 1vh;
  outline: 0;
  background: transparent;
  color: whitesmoke;
}

.add-buttons button:active {
  margin: 1vh;
  border: 1px solid white;
  border-radius: 1vh;
  outline: 0;
  color: #333;
  background: whitesmoke;
}