.sequencer {
  background: whitesmoke;
  border-radius: 14px;
  border: 10px solid #444;
  box-shadow: 0 0 40px;
  position: relative;
  display: grid;
  place-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.sequencer .buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #C0BCB5;
  width: 160px;
  height: 160px;
  place-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all ease 0.15s;
  border-radius: 3px;
  scale: 1;
  transform: translate(65px, 65px) scale(0.25);
}

.sequencer .buttons:hover {
  transform: translate(0, 0) scale(1);
  transition: all ease 0.15s;
  box-shadow: 0 0 40px;
  z-index: 2;
}

.sequencer .buttons:hover .colour-indicator {
    border: 1px solid black;
}

.sequencer .button {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: whitesmoke;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #444, 0 0 12px inset white;
  position: relative;
}

.sequencer .colour-indicator {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.sequencer .button.selected {
    background: #ED474A;
}

.sequencer .text-value-control{
    position: absolute;
    top: 20px;
    font-size: 16pt;
}

.sequencer .text-value-control:hover {
    font-weight: bold;
}

.sequencer .text-value-control.active {
    font-weight: bold;
}

.sequencer .text-value-control:first-of-type {
    left: 20px;
}

.sequencer .text-value-control:nth-of-type(2) {
    right: 20px;
}

.sequencer .clear-all {
    left: 50%;
    top: 50%;
    position: absolute;
    font-size: 16pt;
    transform: translate(-50%, -40%);
    background: transparent;
    border: 0;
    font-family: monospace;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
}

.sequencer .clear-all:hover {
    scale: 1.1;
    transform: translate(-45%, -35%);
}

.sequencer .clear-all:active {
    color: red;
}

.sequencer .clear-all:active:not(:hover) {
    color: inherit;
}

.sequencer .bottom-left-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sequencer .bottom-left-buttons button {
    cursor: pointer;
    border-right: 0;
    outline: 0;
    border: 0;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    background: whitesmoke;
}

.sequencer .bottom-left-buttons button:active {
    background: lightgrey;
}

.sequencer .bottom-left-buttons button:active:not(:hover) {
    background: whitesmoke;
}
